.nav {
    background-color: black;
    margin: 0;
    padding: 24px;
}

.nav__list {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav__item {
    color: white;
}

.nav__link {
    color: white;
    margin-right: 40px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;

    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.nav__list .nav__item:last-child .nav__link {
    margin-right: 0;
}

.nav__link:hover {
    color: grey;
}

@media screen and (max-width: 320px) {
    .nav {
        padding: 25px 53px;
    }

    .nav__link {
        font-size: 11px;
        margin-right: 24px;
    }

}

