.search-form {
    margin: 0 auto;
    padding: 68px  30px 0px 30px;
    position: relative;
}

.search-form__form {
    display: flex;
    justify-content: normal;
    align-items: center;
    background-color: #F9F9F9;
    padding: 15px 19px 15px 19px;
    border-radius: 9px;
}

.search-form__hr{
    margin-top: 69px;
    border: none;
    border-bottom: 1px #E8E8E8 solid;
}

.search-form__main {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
}

.search-form__section-option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.search-form__border {
    border: 1px #E8E8E8 solid;
    height: 40px;
}

.search-form__btn-submit {
    width: 80px;
    height: 34px;
    border: none;
    border-radius: 48px;
    background: url("../../images/searchform/search-icon-white.svg") #3456F3 center no-repeat;
    padding: 17px;
    margin-right: 30px;
    /*cursor: pointer;*/
}

.search-form__btn-submit:hover{
    cursor: pointer;
}

.search-form__btn-submit.disabled
{
    background: url("../../images/searchform/search-icon-white.svg") #E8E8E8 center no-repeat;
    cursor: not-allowed;
}

.search-form__input {
    background-color: #F9F9F9;
    border: none;
    flex: 1;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}

.search-form__paragraph {
    margin: 0 0 0 14px;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.search-form__input:focus-visible {
    border: none;
}

.search-form__search-icon {
    height: 34px;
    width: 34px;
    margin-right: 10px;
    background: url("../../images/searchform/search-icon.svg") no-repeat center #F9F9F9;
}

.search-form__label {
    display: flex;
    align-items: center;
    height: 28px;
    line-height: 28px;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    user-select: none;
}

.search-form__label .search-form__checkbox-switch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 34px;
    height: 14px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 25%/50%;
    vertical-align: top;
    background: #eee;
    transition: .2s;
}

.search-form__label .search-form__checkbox-switch:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    transition: .15s;
}

.search-form__label input[type=checkbox] {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.search-form__label input[type=checkbox]:not(:disabled):active + .search-form__checkbox-switch:before {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}

.search-form__label input[type=checkbox]:checked + .search-form__checkbox-switch {
    background: #2BE080;
}

.search-form__label input[type=checkbox]:checked + .search-form__checkbox-switch:before {
    transform: translateX(20px);
}

/* Hover */
.search-form__label input[type="checkbox"]:not(:disabled) + .search-form__checkbox-switch {
    cursor: pointer;
    /*border-color: rgba(0, 0, 0, .3);*/
}

@media screen and (max-width: 768px) {
    .search-form {
        max-width: 708px;
        padding: 77px 10px 0px 10px;
    }

    .search-form__hr{
        margin-top: 109px;
    }


    .search-form__section-option {
        padding: 0 21px;
    }

    .search-form__btn-submit {
        margin-right: 18px;
    }

}

@media screen and (max-width: 560px) {
    .search-form__section-option {
        position: absolute;
        top: 190px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .search-form__paragraph {
        font-size: 11px;
    }

    .search-form__search-icon {
        display: none;
    }

    .search-form__border {
        border: none;
    }
}

@media screen and (max-width: 320px) {
    .search-form {
        max-width: 300px;
        padding: 77px 10px 0px 10px;
    }

    .search-form__input {
        font-size: 14px;
        max-width: 179px;
    }


}



