.aboutme {
    padding: 110px 0 107px 0;
    margin: 0 auto 0 auto;
}

.aboutme__section-title {
    margin-bottom: 66px;
    border-bottom: 1px #000000 solid;
}

.aboutme__section-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
}

.aboutme__section-photo {
    justify-self: end;
}

.aboutme__photo {
    max-width: 270px;
}

.aboutme__title {
    margin: 0 auto 23px auto;

}

.aboutme__name {
    margin: 0 0 18px 0;
}

.aboutme__prof {
    margin: 0 0 26px 0;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}

.aboutme__description {
    margin: 0;
    max-width: 600px;
    line-height: 22px;
    letter-spacing: 0;
    font-weight: 500;
}

.aboutme__links {
    margin-top: 178px;
}

.aboutme__links-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.aboutme__student {
    display: flex;
    flex-direction: column;
}

.aboutme__link {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;

    line-height: 17px;
    font-weight: 500;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.aboutme__link:hover {
    color: grey;
}

.aboutme__portfolio {
    /*margin-bottom: 125px;*/
}

.aboutme__portfolio-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #A0A0A0;
    margin: 0 auto 30px auto;
}

.aboutme__portfolio-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aboutme__portfolio-item {
    font-size: 30px;
    padding: 19px 0 19px 0;
    line-height: 50px;
    font-weight: 400;
    border-bottom: 1px #E8E8E8 solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: -1.1px;
}

.aboutme__portfolio-item:last-child {
    border: none;
}


.aboutme__portfolio-item::after {
    content: "";
    background: white url(../../../src/images/main/aboutme/arrow.svg) no-repeat center;
    width: 29px;
    display: inline-block;
    background-position-y: 19px;
}

.aboutme__portfolio-link {
    text-decoration: none;
    color: black;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.aboutme__portfolio-link:hover {
    color: #073042;
    text-decoration: underline;
}

@media screen  and (max-width: 768px) {
    .aboutme {
        /*max-width: 292px;*/
        padding: 92px 0 131px 0;
    }

    .aboutme__photo {
        max-width: 255px;
    }

    .aboutme__description {
        max-width: 364px;
    }

    .aboutme__name {
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 15px 0;
    }

    .aboutme__section-title {
        margin-bottom: 66px;
    }

    .aboutme__links {
        margin-top: 85px;
    }


    .aboutme__prof {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        margin: 0 0 20px 0;
    }

    .aboutme__description {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
    }

    .aboutme__links-list {
        margin: 0;
    }

    .aboutme__section-description {
        margin-bottom: 85px;
    }

    .aboutme__portfolio-item {
        font-size: 28px;
        line-height: 50px;
    }
}

@media screen  and (max-width: 320px) {

    .aboutme {
        max-width: 292px;
        padding: 92px 0 110px 0;
    }


    .aboutme__section-description {
        flex-direction: column;
    }

    .aboutme__student {
        order: 2;
    }

    .aboutme__section-photo {
        order: 1;
    }

    .aboutme__photo {
        max-width: 292px;
        margin-bottom: 37px;
    }

    .aboutme__title {
        margin: 0 auto 27px auto;
    }

    .aboutme__section-title {
        margin-bottom: 59px;
    }

    .aboutme__name {
        font-size: 30px;
        line-height: 36px;
        margin: 0 0 20px 0;
    }

    .aboutme__prof {
        font-size: 11px;
        line-height: 16px;
        font-weight: 500;
        margin: 0 0 20px 0;
    }

    .aboutme__description {
        font-size: 11px;
        line-height: 16px;
        font-weight: 400;
    }

    .aboutme__links {
        margin-top: 40px;
    }

    .aboutme__portfolio-title {
        font-size: 14px;
        margin: 0 auto 23px auto;
    }

    .aboutme__section-description {
        margin-bottom: 68px;
    }

    .aboutme__portfolio-item {
        font-size: 18px;
        line-height: 28px;
    }

    .aboutme__portfolio-item::after {
        background-position-y: 8px;
        background-size: 57%;
        width: 18px;
    }
}
